body{
    color: #91A8D0;
    font-family: 'Exo', sans-serif;
}

.Jumbotron h1{
    text-align: center;
    font-size: 60px;
    color: #91A8D0;
    font-family: 'Exo', sans-serif;
}
    


#puppic1{
    float: left;
    margin-right: 30px;
    padding-bottom: initial;
    padding-left: 100px;
    padding-right: 10px;
    
}

#sideofpic{
    margin-right: 100px;
    position:absolute;
    right: 200px;
    top: 100px;
    
}

.mainPolaroid{
    position: relative
}

.SignUpDog{
    top: 450px;
    position: absolute;
    left: 180px;
}

.SignUpDog h1 {
    color: #ff94c9;
    font-family: 'Exo', sans-serif;
}

h3 {
    color: #ff94c9;
    font-family: 'Exo', sans-serif;
}

img {
    vertical-align: middle;
    width: 50%;
}

